<div class="container" ng-controller="gradeCreateCtrl as vm">

		<!-- Notifications -->
				<!-- ./ notifications -->

		<div class="page-header">
			<h3>
				创建年级				<div class="pull-right">
					<button class="btn btn-default btn-small btn-inverse close_popup" ng-click="goBack()"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
				</div>
			</h3>
		</div>

		<!-- Content ui-keyup="{'enter':'vm.createGrade()'}" -->
		<form method="POST"  accept-charset="UTF-8" ng-submit="vm.createGrade()">
			<div class="form-group">
				<label for="skillgradetitle">年级</label>			
				<input class="form-control" autofocus="autofocus" name="skillgradetitle" type="text" id="skillgradetitle" ng-model="vm.newGrade.skillgradetitle">			
			</div>
			<div class="form-group">
				<label for="skillgradedescription">详细描述</label>			
				<input class="form-control" name="skillgradedescription" type="text" id="skillgradedescription" ng-model="vm.newGrade.skillgradedescription">		
			</div>
			<input class="btn btn-primary" type="button" value="提交" ng-click="vm.createGrade()">
			<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>	
		</form>
		<!-- ./ content -->

		<!-- Footer -->
		<footer class="clearfix">
		</footer>
		<!-- ./ Footer -->
</div>